<h1>Transcode Video</h1>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li><%= link_to "Step 1", "#step1", :data => {:toggle => "tab"} %></li>
    <li><%= link_to "Step 2", "#step2", :data => {:toggle => "tab"} %></li>
    <li><%= link_to "Step 3", "#step3", :data => {:toggle => "tab"} %></li>
    <li><%= link_to "Step 4", "#step4", :data => {:toggle => "tab"} %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="step1">
      <h3>1. Choose your transcoder</h3>
    </div>
    <div class="tab-pane" id="step2">
      <h3>2. Upload the video</h3>
    </div>
    <div class="tab-pane" id="step3">
      <h3>3. Configure the video</h3>
    </div>
    <div class="tab-pane" id="step4">
      <h3>4. Confirm the cost</h3>
    </div>
  </div>
</div>
